# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
package-lock.json
pnpm-lock.yaml

# testing
/coverage

# production
/build
/certs

# misc
**/dist
**/.DS_Store
**/.env.*
**/.git


.gitignore
.idea/