name: CI

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Step 1: Checkout
      - uses: actions/checkout@v3

      # Step 2: Set up pnpm
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      # Step 3: Set up node
      - uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'pnpm'

      # Step 3: Run pnpm install
      - run: pnpm install --frozen-lockfile

      # Step 4: Run pnpm lint & build
      - run: pnpm run lint && pnpm run build
